## Summarizing categorical data using pandas

In [21]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### The basics

In [22]:
# The {address} variable holds the file path to the storm data CSV, 
# allowing us to access and load the data into our analysis 
# environment. It serves as the starting point for our exploration 
# into the stormy seas of data analysis.
address = '../storms_points.csv'

# Upon loading the storm data from the provided CSV file, the 
# {storms} variable becomes a container for our dataset, holding 
# information about various storm events, including their names, 
# locations, and intensity.
storms = pd.read_csv(address)

# After loading the data, the column names of the {storms} DataFrame 
# are renamed for clarity and consistency, ensuring that each column 
# accurately represents the corresponding aspect of storm data.
storms.columns = ['storm_name', 'year', 'month', 'day', 'hour', 'minute', 
                  'timestamp', 'record_ident', 'status', 'latitude', 
                  'longitude', 'max_wind_kts', 'max_wind_kph', 
                  'max_wind', 'min_press']

# Setting the storm names as the index of the {storms} DataFrame 
# provides a convenient way to identify and reference specific 
# storm events during our analysis, acting as a navigational guide 
# through the dataset.
storms.index = storms.storm_name

# Displaying the first 10 rows of the storm data, the {storms.head()} 
# function offers a glimpse into the structure and contents of the 
# DataFrame, showcasing key information such as storm names, dates, 
# and wind speeds.
storms.head(10)

,storm_name,year,month,day,hour,minute,timestamp,record_ident,status,latitude,longitude,max_wind_kts,max_wind_kph,max_wind,min_press
storm_name,,,,,,,,,,,,,,,
Unnamed 1,Unnamed 1,1990,5,24,18,0,1990-05-24T18:00:00Z,,TD,18.8,-84.0,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,25,0,0,1990-05-25T00:00:00Z,,TD,19.7,-84.0,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,25,6,0,1990-05-25T06:00:00Z,,TD,20.7,-83.7,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,25,12,0,1990-05-25T12:00:00Z,,TD,21.8,-83.3,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,25,18,0,1990-05-25T18:00:00Z,,TD,23.0,-82.8,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,26,0,0,1990-05-26T00:00:00Z,,TD,24.0,-82.2,25,46,29,NaN
Unnamed 1,Unnamed 1,1990,5,26,6,0,1990-05-26T06:00:00Z,,TD,24.0,-82.2,25,46,29,NaN
Arthur,Arthur,1990,7,22,6,0,1990-07-22T06:00:00Z,,TD,8.8,-41.9,25,46,29,1010.0
Arthur,Arthur,1990,7,22,12,0,1990-07-22T12:00:00Z,,TD,8.9,-43.2,25,46,29,1010.0
Arthur,Arthur,1990,7,22,18,0,1990-07-22T18:00:00Z,,TD,9.3,-44.6,25,46,29,1010.0

In [23]:
# As we sail through the stormy seas of data, let's harness the power 
# of the winds with the {max_wind} variable, capturing the maximum wind 
# speed recorded for each storm event. Like a fierce gust of wind, it 
# sweeps through the dataset, revealing the intensity of each storm's 
# fury.

# By counting the occurrences of different wind speeds using the 
# {value_counts()} method, we gain insights into the distribution of 
# maximum wind speeds across the storm dataset, akin to charting the 
# varying strengths of tropical tempests in our data exploration journey.
max_wind = storms.max_wind
max_wind.value_counts()

max_wind
35     1710
29     1157
40     1093
46      988
52      988
58      821
63      605
75      594
69      564
23      473
81      366
86      347
92      245
104     221
98      183
115     141
109     124
132     114
127     102
121      89
138      81
17       80
144      62
12       40
150      38
161      24
155      21
167      13
173      11
178       4
184       1
Name: count, dtype: int64

In [24]:
# Amidst the storm of data, we seek to extract specific coordinates 
# and temporal information to guide our journey through the turbulent 
# seas.

# Extracting the categorical storm data related to latitude, longitude, 
# and year, we create a new dataframe named {storms_cat} by selecting 
# columns 'latitude', 'longitude', and 'year' from the {storms} 
# dataframe.
storms_cat = storms[['latitude', 'longitude', 'year']]

# Displaying the first few rows of the {storms_cat} dataframe to provide 
# a glimpse into the extracted categorical storm data, offering insight 
# into the initial coordinates and temporal details of our stormy 
# expedition.
storms_cat.head()

            latitude  longitude  year
storm_name
Unnamed 1       18.8      -84.0  1990
Unnamed 1       19.7      -84.0  1990
Unnamed 1       20.7      -83.7  1990
Unnamed 1       21.8      -83.3  1990
Unnamed 1       23.0      -82.8  1990

In [25]:
# In the storm's domain we dwell,
# Collecting data, our story to tell,
# With latitude and longitude in our hand,
# And the year, to understand.

# Grouped by year, we explore,
# Unveiling trends, seeking more,
# Descriptive stats, our guide,
# Revealing patterns far and wide.

# Grouping the storm data by 'year'
year_group = storms_cat.groupby('year')

# Displaying descriptive statistics for the grouped data
year_group.describe()

     latitude                                                           \
        count       mean        std   min     25%    50%     75%   max
year
1990    502.0  25.182869   9.651564   7.2  17.700  23.90  32.775  50.0
1991    242.0  30.279339  10.656780   9.7  25.450  31.50  37.975  51.9
1992    273.0  30.653846   8.256512  10.8  25.700  30.90  36.100  49.5
1993    224.0  24.929018  10.593746  10.0  15.800  24.60  31.850  48.0
1994    234.0  24.473932   8.233870  10.1  16.625  24.10  31.300  44.7
1995    767.0  26.916037  10.599088   8.3  19.300  24.90  33.200  65.0
1996    544.0  25.650368  13.103541   8.6  15.000  20.90  34.000  63.0
1997    206.0  31.327670   8.926768  10.9  26.575  31.85  37.600  49.0
1998    539.0  27.279592  11.209744   9.6  17.350  26.10  33.850  63.5
1999    457.0  24.219694   8.660647   9.8  17.200  22.80  29.400  51.0
2000    469.0  27.149254  12.058865   9.5  17.400  27.50  34.400  70.7
2001    488.0  28.282172  10.344344  10.6  18.575  28.65  34.725  65.0
2002    400.0  27.670500   9.653736   9.5  21.450  28.50  31.125  62.5
2003    593.0  26.193929   9.564496   9.5  18.900  26.30  31.700  63.0
2004    612.0  26.027778  10.387455   8.9  17.675  26.40  31.700  65.5
2005    907.0  28.304961  10.349636  10.4  20.100  28.40  34.500  68.8
2006    398.0  31.241206  12.522476  11.6  21.700  28.70  39.725  63.0
2007    404.0  25.464109  11.857589  10.0  16.475  21.20  31.550  66.0
2008    556.0  26.587590   9.544959  12.3  18.975  23.80  32.700  58.5
2009    265.0  25.100755  11.353180  11.0  16.100  20.60  32.800  53.0
2010    663.0  23.862443   9.166680   9.0  16.800  21.80  29.450  58.5
2011    557.0  25.430880  10.005496   8.3  17.800  23.90  30.900  59.5
2012    654.0  27.607951   9.641904  10.7  18.700  28.80  34.175  56.5
2013    346.0  24.415029   7.420501   9.3  19.225  24.10  29.650  44.5

     longitude
         count       mean        std    min     25%    50%     75%   max
year
1990     502.0 -52.309363  17.426505 -107.0 -63.425 -49.45 -40.050 -16.6
1991     242.0 -53.196281  21.563911  -98.0 -68.500 -56.30 -35.000  -9.9
1992     273.0 -54.997802  19.098420  -91.7 -70.800 -56.20 -42.000  -7.0
1993     224.0 -65.320982  19.731870 -104.7 -79.475 -64.60 -55.925  -5.0
1994     234.0 -69.051282  19.989143  -99.0 -84.975 -78.40 -54.875 -20.8
1995     767.0 -62.258018  19.814183  -99.0 -79.450 -60.50 -48.550  -1.0
1996     544.0 -60.426654  20.949814 -107.3 -78.000 -64.30 -43.000   1.0
1997     206.0 -62.150485  18.331111  -92.6 -73.000 -62.95 -54.250 -14.0
1998     539.0 -58.030241  24.847533 -101.2 -80.400 -56.20 -37.850  -5.0
1999     457.0 -66.581619  17.498692 -103.0 -78.800 -64.20 -56.100 -18.9
2000     469.0 -59.886994  20.763161 -101.0 -74.700 -58.50 -45.700  -4.0
2001     488.0 -64.952869  17.198492  -96.2 -81.125 -64.70 -50.600 -28.4
2002     400.0 -72.683500  15.729059 -101.0 -85.725 -75.10 -59.900 -31.2
2003     593.0 -61.718550  20.459422 -107.7 -78.500 -60.10 -45.000  -6.0
2004     612.0 -61.311275  19.856074  -95.4 -78.500 -65.85 -44.475  13.5
2005     907.0 -64.306064  21.335780 -101.4 -82.550 -68.20 -49.350   6.6
2006     398.0 -52.454523  19.370659  -87.8 -66.175 -53.85 -40.825  -3.0
2007     404.0 -66.044307  20.801716 -101.8 -80.175 -70.00 -49.400  -7.0
2008     556.0 -68.624460  19.491354 -106.7 -83.525 -71.80 -53.425 -21.9
2009     265.0 -53.010566  20.670662  -88.7 -68.800 -53.40 -34.500  -7.7
2010     663.0 -61.531674  23.199657 -102.2 -82.900 -62.60 -42.800 -14.5
2011     557.0 -64.036266  19.191507  -98.7 -77.300 -63.70 -53.400  -0.0
2012     654.0 -56.176606  20.557550  -98.9 -75.075 -53.25 -40.025  -7.5
2013     346.0 -57.485549  24.008097  -99.7 -78.550 -52.80 -37.850 -17.1

### Transforming variables to categorical data type

In [26]:
# Amidst the stormy haze, a new label we raise,
# Assigning each year a categorical blaze,
# With dtype='category', we define its form,
# A unique identifier to weather the storm.

# Creating a new column 'group' in the storms DataFrame,
# Setting its values to the 'year' column,
# And specifying the data type as 'category'
storms['group'] = pd.Series(storms.year, dtype='category')

In [27]:
# Retrieve the data type of the 'group' column,
# Ensuring consistency, as we need to control,
# This detail helps understand the data's form,
# Clear insights emerge, analysis can perform.
storms['group'].dtypes

CategoricalDtype(categories=[1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
                  2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
                  2010, 2011, 2012, 2013],
, ordered=False, categories_dtype=int64)

In [28]:
# Count occurrences of each category in the 'group' column,
# With this insight, our analysis can enthrall,
# Knowing the distribution, we can plan ahead,
# Insights from data, our decisions are led.
storms['group'].value_counts()

group
2005    907
1995    767
2010    663
2012    654
2004    612
2003    593
2011    557
2008    556
1996    544
1998    539
1990    502
2001    488
2000    469
1999    457
2007    404
2002    400
2006    398
2013    346
1992    273
2009    265
1991    242
1994    234
1993    224
1997    206
Name: count, dtype: int64

### Describing categorical data with crosstabs

In [29]:
# Generate a cross-tabulation between 'year' and 'month' columns,
# Revealing insights, patterns that will enthral,
# Rows for years, columns for months, a matrix unfolds,
# Each cell a count, a story it holds.
pd.crosstab(storms['year'], storms['month'])

month  1   4   5   6    7    8    9    10  11  12
year
1990    0   0   7   0   56  172  141  126   0   0
1991    0   0   0   6   25   75   80   47   9   0
1992    0  14   0   5    8   52  140   54   0   0
1993    0   0   2  24    0  104   94    0   0   0
1994    0   0   0   3   35   59   50    0  87   0
1995    0   0   0  35   83  264  207  169   9   0
1996    0   0   0  22   69  132  146  121  54   0
1997    0   0   1  10   98    0   67   30   0   0
1998    0   0   0   0   18  103  267   78  66   7
1999    0   0   0  26    4  128  154  103  42   0
2000    0   0   0  16    0  141  185  127   0   0
2001    0   0   0  57    5   87  179   76  68  16
2002    0   0   0   0   20   46  255   79   0   0
2003    0  39   0  16  113   39  188  156   4  38
2004    0   0   0   0    1  216  325   31  20  19
2005    0   0   0  33  185  177  227  159  82  44
2006   28   0   0  38   31   81  209   11   0   0
2007    0   0  35  20    4   84  134   79  23  25
2008    0   0   5   5  123  120  191   76  36   0
2009    0   0  15   0    0   92   80   47  31   0
2010    0   0   0  26   37  139  301  119  41   0
2011    0   0   0  12   57  158  222   80  28   0
2012    0   0  48  54    0  212  181  159   0   0
2013    0   0   0  37   50   41  120   56  26  16